{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "plugin:prettier/recommended",
    "prettier",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "rules": {
    "space-before-function-paren": 0,
    "import/export": 0,
    "prettier/prettier": "warn",
    "no-unused-vars": "warn",
    // disabling base rules as they can report incorrect errors
    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": ["error"],
    "no-use-before-define": "off"
    //"@typescript-eslint/no-use-before-define": ["error"]
  }
}
